*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  --main: #FEFCFF;
  --sec: #011085;
  --third: #FF0011;
  --color1: #f4f4f4;
--color2: #3197EE;
 
}

p, h5{
  font-family: 'Playfair Display', serif;
  letter-spacing: 2.1px;
  color: #585858;
}
h1, h2, a,  button,h3{
  font-family: 'DM Serif Display', serif;
  
}
h4{
  font-family: 'Merriweather Sans', sans-serif;
}

@keyframes example {
  
  0%{
    transform: translateY(0px);
  }
  25%{
    transform: translateY(10px);
  }
  50%{
    transform: translateY(20px);
  }
  75%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(0px);
  }
}

@keyframes example2 {
  
  0%{
    transform: translateY(0px);
  }
  25%{
    transform: translateY(5px);
  }
  50%{
    transform: translateY(10px);
  }
  75%{
    transform: translateY(5px);
  }
  100%{
    transform: translateY(0px);
  }
}



.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #011085;

  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--sec) solid var(--sec);
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}




.button-90 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #fff;
  

  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--sec) solid var(--sec);
  outline-offset: .6em;
  font-size: 18px;
  z-index: 1000;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-90:hover,
.button-90:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-90:active {
  background: var(--color);
  color: #fff;
}

.btn_dashboard{
  width: 80px;
  height: 40px;
  background: transparent;
  outline: none;
  border: 1px solid white;
  border-radius: 5px;
  color: #fff;
}



/* CSS */
.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 30px;
  margin: 5px 0;
  min-width: 0;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #6a44dc;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}

select {
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  appearance:none;
  outline:0;
  box-shadow:none;
  border:0!important;
  background: #fff;
  background-image: none;
  padding: 0 .5em;
  color: #5c6664;
  cursor:pointer;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  margin: 0 10px;
  display: flex;
  width: 200px;
  height: 30px;
  line-height: 1;
  background: #fff;
  overflow: hidden;
  border-radius: .25em;
}
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #2b2e2e;
  cursor:pointer;
  pointer-events:none;
  transition:.25s all ease;
}
.select:hover::after {
  color: #23b499;
}


input[type="radio"] {
  display: none;
  &:not(:disabled) ~ label {
    cursor: pointer;
  }
  &:disabled ~ label {
    color: hsla(150, 5%, 75%, 1);
    border-color: hsla(150, 5%, 75%, 1);
    box-shadow: none;
    cursor: not-allowed;
  }
}
label {
  width: 300px;
  height: 350px;
  display: block;
  background: white;
  border: 2px solid var(--sec);
  margin: 10px;
  border-radius: 20px;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  box-shadow: 0px 3px 10px -2px hsla(150, 5%, 65%, 0.5);
  position: relative;
}
label p{
  margin: 20px 0;
  line-height: 1.5rem;
  font-size: 14px;
}

label h2{
  text-transform:capitalize;
}
input[type="radio"]:checked + label {
  background: var(--sec);
  color: #fff;
  box-shadow: 0px 0px 20px var(--sec);
  &::after {
    color: hsla(215, 5%, 25%, 1);
    border: 2px solid var(--sec);
    content: "\f00c";
    font-size: 24px;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    background: white;
    box-shadow: 0px 2px 5px -2px hsla(0, 0%, 0%, 0.25);
  }
}

input[type="radio"]:checked + label p{
  color: #fff;
}
input[type="radio"]#control_05:checked + label {
  background: red;
  border-color: red;
  box-shadow: 0px 2px 5px -2px red;
}
input[type="radio"]#control_30:checked + label {
  background: red;
  border-color: red;
  box-shadow: 0px 2px 5px -2px red;
}
.custom-datepicker {
  border: 1px solid red;
}
.disabled-button {
  background-color: #ccc;
  cursor: not-allowed; 
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
 
}
.enable-button{
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  
}